* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand-wrapper,
.navbar-menu-wrapper {
  /* background: url('assets/Images/navbar-bg.png') !important; */
  background: #00394f !important;
}
