* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background-Color */

.bg-fff4de {
  background-color: #fff4de;
}

.bg-e2fff6 {
  background-color: #e2fff6;
}

.bg-ffe2e5 {
  background-color: #ffe2e5;
}

.bg-e1f0ff {
  background-color: #e1f0ff;
}

/* Text-Color */
.text-ffad44 {
  color: #ffad44;
}

.text-25c997 {
  color: #25c997;
}

.text-f64e60 {
  color: #f64e60;
}

.text-3699ff {
  color: #3699ff;
}

.navbar-brand-wrapper,
.navbar-menu-wrapper {
  /* background: url('assets/Images/navbar-bg.png') !important; */
  background: #f7ae56 !important;
}

.dashboard-page {
  .counter-card {
    background-color: #eee5ff;
    background-image: url(/public/images/counterCard-bg.svg);
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
  }
}

/* Calendar-Component */
.calendar-component {
  background-image: url(/public/images/calenderBg.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}


.loding-page {
  .loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Full-screen loader */
    background-color: #fbf6f0;
    /* Optional: add a background color */
  }

  .loader {
    display: flex;
    justify-content: space-between;
    width: 80px;
  }

  .dot {
    width: 16px;
    height: 16px;
    background-color: #f65365;
    border-radius: 50%;
    animation: pulse 1.2s infinite ease-in-out;
  }

  .dot:nth-child(2) {
    animation-delay: 0.2s;
  }

  .dot:nth-child(3) {
    animation-delay: 0.4s;
  }

  @keyframes pulse {

    0%,
    100% {
      transform: scale(0.8);
      opacity: 0.8;
    }

    50% {
      transform: scale(1.5);
      opacity: 1;
    }
  }
}